html {
    min-width: 279px;
}
strong, b {
    color: #2d4a8a;
}
.btn {
    border: none;
    background: none;
}
a {
    text-decoration: none;
}

/* header container */
header {
    position: sticky;
    top: 0;

    display: flex;
    justify-content: space-between;
    align-items: center;

    max-width: 100%;
    width: 100vw;
    height: 80px;
    min-width: 279px;

    background-color: white;

    z-index: 100;
}
#imgLogo {
    height: 60px;
    width: 60px;

    position: relative;
    left: 10px;
    border-radius: 50%;
}

/* changeLang container */
#changeLang {
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;

    margin-right: 20px;
}
#changeLang p {
    position: absolute;
    bottom: 8px;
    left: 5%;
}
.btnsLangConteiner {
    display: flex;
    flex-direction: row;

}
.langBtn {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content:center;

    margin: 5px;
    height: 0px;
    width: 40px;
}
.langBtn img {
    height: 30px;
    width: 30px;
}


/* sandwichMenu */
#sandwichBtn {
    min-height: 25px;
    min-width: 35px;
    margin-right: 10px;
    cursor: pointer;
}
#sandwichMenu{
    display: block;
    border-top: 2px solid black;
    width: 12.5px;
    transition: .1s;
}
#sandwichMenu::before,#sandwichMenu::after {
    content: ' ';
    display: block;
    position: absolute;

    background-color: currentColor;
    height: 2px;
    min-width: 25px;
    margin-top: 5px;

    transition: .2s;
}
#sandwichMenu::before {
    transform: translateY(-14px);
}
#sandwichMenu::after {
    transform: translateY(0px);
}

#navMenu.active #sandwichMenu {
    width: 0;
}
#navMenu.active #sandwichMenu::after{
    width: 25px;
    transform: translate3d(-4px, -8px, 0) rotate(-45deg);
}
#navMenu.active #sandwichMenu::before{
    transform: translate3d(-4px, -8px, 0) rotate(45deg);
    width: 25px;
}

#navLinks {
    visibility: hidden;
    overflow: hidden;
    opacity: 0;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    
    height: 0;
    width: 100vw;

    position: absolute;
    top: 63px;
    right: 0;

    background-color: transparent;

    transition: .3s;
}
#navMenu.active #navLinks {
    background-color: white;
    visibility: visible;
    opacity: 1;
    height: 30vh;
}
#navLinks a {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;

    opacity: 0;
}
#navLinks li {
    list-style: none;
    color: black;
    text-transform: uppercase;
}








/* welcome */
#welcome {
    overflow: hidden;
    max-width: 80vw;
    margin: auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.personalPresentation {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.hello{
    display: flex;
    align-items: center;
}
#hand {
    font-size: 27px;

    position: relative;
    left: 8px;

    transition: transform;
    animation: handWave 2s infinite;
    transform-origin: 70% 70%;

    z-index: -1;
}
.imgWelc {
    height: 360px;
    margin-left: 15px;
}
.arrowDown {
    display: flex;
    flex-direction: column;
}
.arrowDown img:nth-child(2) {
    margin-top: -29px;
}
.arrowDown img {
    height: 40px;
    width: 40px;
    /* filter:brightness(0); */
    animation: moveArrow linear infinite 2s;
    transition: transform;
}

#aboutMeContainer {
    margin: 100px auto;
    max-width: 80vw;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}
.about {
    text-align: center;
}
.aboutTitle {
    font-size: 32px;
}
.about p {
    font-size: 22px;
}
.skillsContainer {
    text-align: center;
}
.skillInfo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100vw;
}
.imgSkill {
    width: 70px;
    height: auto;
}
.barSep {
    background-color: rgba(0, 0, 0, 0.295);
    height: 1px;
    width: 15px;
}

@keyframes moveArrow {
    0% {
        transform: translate3d(0, 0, 0);
    }
    50% {
        transform: translate3d(0, -10px, 0);
    }
    100% {
        transform: translate3d(0, 0, 0);
    }
}
@keyframes handWave {
        0% {
          transform: rotate(0deg);
        }
        10% {
          transform: rotate(14deg);
        }
        20% {
          transform: rotate(-8deg);
        }
        30% {
          transform: rotate(14deg);
        }
        40% {
          transform: rotate(-4deg);
        }
        50% {
          transform: rotate(10deg);
        }
        60% {
          transform: rotate(0deg);
        } 
        100% {
          transform: rotate(0deg);
        }


}
@keyframes menuLinksFade {
    0% {
        transform: translate3d(0, -15px, -5px);
        opacity: 0;
    }
    100% {
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }
}
@keyframes menuLinksFadeRev {
    0% {
        opacity: 1;
    }
    15% {
        opacity: 0.4;
    }
    40% {
        opacity: 0.2;
    }
    100% {
        opacity: 0;
    }
}