html {
    min-width: 279px;
}
strong, b {
    color: #2d4a8a;
}
.btn {
    border: none;
    background: none;
}
a {
    text-decoration: none;
}

/* header container */
header {
    position: sticky;
    top: 0;

    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100vw;
    height: 100px;
    min-width: 279px;

    background-color: white;
}
#imgLogo {
    height: 60px;
    width: 60px;

    position: relative;
    left: 10px;
}

/* changeLang container */
#changeLang {
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;

    margin-right: 20px;
}
#changeLang p {
    position: absolute;
    bottom: 15px;
    left: 5%;
}
.btnsLangConteiner {
    display: flex;
    flex-direction: row;

}
.langBtn {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content:center;

    margin: 5px;
    height: 0px;
    width: 40px;
}
.langBtn img {
    height: 30px;
    width: 30px;
}

/* navHeader */
#navMenu a{
    display: none;
}


/* sandwichMenu */
#sandwichBtn {
    min-height: 25px;
    min-width: 35px;
    margin-right: 10px;
    cursor: pointer;
}
#sandwichMenu{
    display: block;
    border-top: 2px solid black;
    width: 12.5px;
    transition: .1s;
}
#sandwichMenu::before,#sandwichMenu::after {
    content: ' ';
    display: block;
    position: absolute;

    background-color: currentColor;
    height: 2px;
    min-width: 25px;
    margin-top: 5px;

    transition: .2s;
}
#sandwichMenu::before {
    transform: translateY(-14px);
}
#sandwichMenu::after {
    transform: translateY(0px);
}

#navMenu.active #sandwichMenu {
    width: 0;
}
#navMenu.active #sandwichMenu::after{
    width: 25px;
    transform: translate3d(-4px, -8px, 0) rotate(-45deg);
}
#navMenu.active #sandwichMenu::before{
    transform: translate3d(-4px, -8px, 0) rotate(45deg);
    width: 25px;
}


/* welcome */
#welcome {
    overflow: hidden;
    max-width: 80vw;
    margin: auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.personalPresentation {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.hello{
    display: flex;
    align-items: center;
}
#hand {
    font-size: 27px;
    
    position: relative;
    left: 8px;

    transition: transform;
    animation: handWave 2s infinite;
    transform-origin: 70% 70%;
}
.imgWelc {
    height: 360px;
    margin-left: 15px;
}
.arrowDown {
    display: flex;
    flex-direction: column;
}
.arrowDown img:nth-child(2) {
    margin-top: -32px;
    margin-bottom: 200px;
}
.arrowDown img {
    height: 50px;
    width: 50px;
    /* filter:brightness(0); */
    animation: moveArrow linear infinite 2s;
    transition: transform;
}

@keyframes moveArrow {
    0% {
        transform: translate3d(0, 0, 0);
    }
    50% {
        transform: translate3d(0, -10px, 0);
    }
    100% {
        transform: translate3d(0, 0, 0);
    }
}
@keyframes handWave {
        0% {
          transform: rotate(0deg);
        }
        10% {
          transform: rotate(14deg);
        }
        20% {
          transform: rotate(-8deg);
        }
        30% {
          transform: rotate(14deg);
        }
        40% {
          transform: rotate(-4deg);
        }
        50% {
          transform: rotate(10deg);
        }
        60% {
          transform: rotate(0deg);
        } 
        100% {
          transform: rotate(0deg);
        }


}